<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>設定</title>
		<link rel="icon" type="image/png" href="images/favicon.png">
		<link href="css/reset.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
	</head>
	<body>
		<div class="anytix">
			<div class="main-content setup-password" id="app">
				<div class="container">
					<h3>修改安全鎖密碼</h3>
					<div class="password-box">
						<h4>輸入新的安全鎖密碼<span class="remark">*密碼僅限 6 碼數字</span></h4>
						<div class="password-eye">
							<input type="password" name="" maxlength="6" class="input" placeholder="輸入新的安全鎖密碼" :type="inputType" v-model="newpsd" ref="pass1">
							<button v-if="eye1" @click="showPassword($refs.pass1, 'eye1')"><img src="./images/icon/ic-password-open.svg" /></button>
							<button v-else @click="showPassword($refs.pass1, 'eye1')"><img src="./images/icon/ic-password-hide.svg" /></button>
						</div>
					</div>
					<div class="password-box">
						<h4>再次輸入安全鎖密碼</h4>
						<div class="password-eye">
							<input type="password" name="" maxlength="6" class="input" placeholder="再次輸入安全鎖密碼" :type="inputType" v-model="verifypsd" ref="pass2">
							<button v-if="eye2" @click="showPassword($refs.pass2, 'eye2')"><img src="./images/icon/ic-password-open.svg" /></button>
							<button v-else @click="showPassword($refs.pass2, 'eye2')"><img src="./images/icon/ic-password-hide.svg" /></button>
						</div>
					</div>
                    <div class="flex-btn">
                        <button class="btn-primary mt-none mb-xxs block" @click="exchange" > 
                            <div class="btn-loading" id="dot-loading" v-show="btnloading"></div>
							<span v-show="!btnloading">確定</span>
                            <!-- chrome 禁止直接讀取 local json，這邊要用 local server 才看的到-->
                        </button>
                    </div>
				</div>
				<!-- 安全鎖“修改”設定失敗訊息  -->
				<div class="error-message warning" id="error-message" v-show="show">
					<span class="icon"><img src="./images/icon/ic-warning-s-seca.svg" alt=""></span>
					<p>設定失敗，請檢查輸入是否正確</p>
					<span class="error-hide" @click="errorHide()"><img src="./images/icon/ic-close.svg" alt=""></span>
				</div>
			</div>
    	</div>
		<script src="js/vue.min.js"></script>
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="./js/lottie.min.js"></script>
		<script src="./js/lottie.min.js"></script>
		<script>
			var jQfn = function (){
				var animation = bodymovin.loadAnimation({
					container: document.getElementById('dot-loading'),
					// chrome 禁止直接讀取 local json，這邊要用 local server 才看的到
					path: './js/json/dot-loading-white.json',
					renderer: 'svg',
					loop: true,
					autoplay: true,
					name: "Demo Animation",
				});
			}
			vm = new Vue({
				el:'#app',
				data() {
					return {
						btnloading: false,
						show: true,
						btnshow: false,    //v-show="false" 隱藏
						newpsd: '',		  //v-model input 數據雙向綁定
						verifypsd: '',
						eye1: false,
						eye2: false,
						inputType: 'password',
					}
				},
				mounted: function () {
					this.$nextTick(function () {
						vm.prizeLoading = false
						//- window.setTimeout(function(){
						//-     vm.loading = false
						//- }, vm.loadingTimer);
						jQfn()
                	});
					setTimeout(() => {
						document.getElementById("error-message").style.display="none";
					}, 5000);
				},
				methods:{ 
					//點擊圖標  密碼顯示隱藏 切換
					showPassword(element, eye){ /*抓取當對應的input element和 當btn對應參數 */
						console.log(element, eye)
						// var me = this;
						element.type = element.type === 'password' ? 'text' : 'password';
						if (eye === 'eye1'){
							this.eye1 = !this.eye1;
							return;
						}
						this.eye2 = !this.eye2;
					},
					errorHide: function () {
						this.show = false;
					},
					exchange: function() {
						this.btnloading = true;
						window.setTimeout(function(){
							document.location.href="setup-password-success.html";
							vm.btnloading = false;							
						}, 3000);
                	},
				}
			})
		</script>
	</body>
</html>